.git
.gitignore

**/bin
**/obj
**/**pycache**
**/.pytest_cache
**/.venv
**/venv

**/node_modules

*.pyc
*.pyo

*.user
*.suo
*.userosscache
*.sln.docstates

.vscode
.idea

Dockerfile*
docker-compose*.yml
*.log
*.tmp
